@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), "IBM Plex Mono", monospace;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
